[submodule "third_party/ComfyUI-GGUF"]
	path = third_party/ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
